* {
  box-sizing: border-box;
}
body{
  margin:0;
  padding: 0;
  background-color:#0B2434;
}
main{
  background-color: #F5F5F5;
  background-image: url('./assets/images/table.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin:20px;
  width: auto;
  height: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap :0.5em;
}
.header{
  border-radius: 10px 10px 0px 0px;
  box-shadow: 1px 1px 2px 2px beige;
  text-align: center;
  padding: 0;
}
.header h1, .header p{
  margin-top:0;
  margin-bottom: 0.8em;
}
.infoBoard{
  display: flex;
  margin:0;
  justify-content:space-evenly;
  width: 100%;
  align-items: center;
}
.infoBoard {
  color:#000;
  margin: 0;
}
.popUp{
  background-color: #000;
  color: white;
  padding: 0.2em 0.4em;
  margin-top: 0;
}
/* Dice Area */
#container{
  display:grid;
  grid-template: 1fr 1fr/ repeat(5, 1fr);
  row-gap: 2em;
  column-gap: 1.5em;
}
.btn{
  padding:0.5em 1em;
  font-family: Karla, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#2B283A;
  font-weight: 700;
  border-radius: 3.8px;
  width: 40px;
  height: 40px;
}
.roll{
  color:#FFFFFF;
  background-color: #065c26;
  width: auto;
}
.btnSelected{
  border-color: green;
  box-shadow: 0px 0px 2px 2px green;
  opacity: 0.8;
  transition: transform 0.3s ease-in-out;
}
.btnSelected:hover{
  transform: scale(1.2) rotate(5deg);
}

.backgroundOption1{
  background-image: url('./assets/images/dice1.png');
  background-position: center;
}
.backgroundOption2{
  background-image: url('./assets/images/dice2.png');
  background-position: center;
}
.backgroundOption3{
  background-image: url('./assets/images/dice3.png');
  background-position: center;
}
.backgroundOption4{
  background-image: url('./assets/images/dice4.png');
  background-position: center;
}
.backgroundOption5{
  background-image: url('./assets/images/dice5.png');
  background-position: center;
}
.backgroundOption6{
  background-image: url('./assets/images/dice6.png');
  background-position: center;
}
.footer{
  font-size:5px;
}
@media (min-width: 550px){
  .header{
    width:100%;
  }
}